@model Product
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create New Product</h2>
            <hr />
        </div>
        <div class="mb-3 row">
            @* asp-for uses the @Model properties for this form, does not need to add "type=text" *@
            <label asp-for=Name class="p-0"></label>
            <input asp-for=Name class="form-control" />
            <span asp-validation-for=Name></span>
        </div>
        <div class="mb-3 row">
            <label asp-for=ProductCode class="p-0"></label>
            <input asp-for=ProductCode class="form-control" />
            <span asp-validation-for=ProductCode></span>
        </div>
        <div class="mb-3 row">
            <label asp-for=NetWeight class="p-0"></label>
            <input asp-for=NetWeight class="form-control" />
            <span asp-validation-for=NetWeight></span>
        </div>
        <div class="mb-3 row">
            <label asp-for=GrossWeight class="p-0"></label>
            <input asp-for=GrossWeight class="form-control" />
            <span asp-validation-for=GrossWeight></span>
        </div>
        <div class="mb-3 row">
            @* Fix this boolean in the form? *@
            <label asp-for=IsHazardous class="p-0"></label>
            @* <input asp-for=IsHazardous type="checkbox" class="form-control" /> *@
            <div>
                <label>
                    <input type="radio" name="IsHazardous" value="true" />
                    True
                </label>
                <label>
                    <input type="radio" name="IsHazardous" value="false" />
                    False
                </label>
            </div>
            <span asp-validation-for=IsHazardous></span>
        </div>
        <div class="mb-3 row">
            <label asp-for=UNnumber class="p-0"></label>
            <input asp-for=UNnumber class="form-control" />
            <span asp-validation-for=UNnumber></span>
        </div>
        <div class="mb-3 row">
            <label asp-for=Price class="p-0"></label>
            <input asp-for=Price class="form-control" />
            <span asp-validation-for=Price></span>
        </div>
        <div class="mb-3 row">
            <label asp-for=BulkRate10 class="p-0"></label>
            <input asp-for=BulkRate10 class="form-control" />
            <span asp-validation-for=BulkRate10></span>
        </div>
        <div class="mb-3 row">
            <label asp-for=BulkRate100 class="p-0"></label>
            <input asp-for=BulkRate100 class="form-control" />
            <span asp-validation-for=BulkRate100></span>
        </div>
        <div class="mb-3 row">
            <label asp-for=Inventory class="p-0"></label>
            <input asp-for=Inventory class="form-control" />
            <span asp-validation-for=Inventory></span>
        </div>
        <div class="mb-3 row">
            <label asp-for=CustomerId class="p-0"></label>
            <input asp-for=CustomerId class="form-control" />
            <span asp-validation-for=CustomerId></span>
        </div>
        <div class="mb-3 row">
            <label asp-for=ImageURL class="p-0"></label>
            <input asp-for=ImageURL class="form-control" />
            <span asp-validation-for=ImageURL></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>


    </div>
</form>

@* Allows for client side validation from the shared partial view which has JS stored in it *@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}