@model Product
<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Customer</h2>
            <hr />
        </div>
        <div class="mb-3 row">
            <label asp-for=Name class="p-0"></label>
            <input asp-for=Name disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for=ProductCode class="p-0"></label>
            <input asp-for=ProductCode disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for=NetWeight class="p-0"></label>
            <input asp-for=NetWeight disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for=GrossWeight class="p-0"></label>
            <input asp-for=GrossWeight disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for=IsHazardous class="p-0"></label>
            <input asp-for=IsHazardous disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for=Inventory class="p-0"></label>
            <input asp-for=Inventory disabled class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>


    </div>
</form>
